<?xml version="1.0" encoding="UTF-8"?>
<Installer>
    <Name>JanDoAniApp</Name>
    <Version>1.0.0</Version>
    <Title>Instalator projektu 1.</Title>
    <Publisher>Gabriel Kocenko</Publisher>
    <StartMenuDir>Super App</StartMenuDir>
    <TargetDir>@HomeDir@/InstallationDirectory</TargetDir>
</Installer>
